/* Define mixing with 2 arguments */

@mixin bordered($color, $width){
    border: $width solid $color;
}

@mixin nav-style {
    nav {
        ul{
            margin:0;
            padding: 0;
            list-style: none;
        }

        li{
            display: inline-block;
        }

        a{
            display: block;
            padding: 6px 12px;
            text-decoration: none;
        }

    }
    
}

@include nav-style();


.div-border {
    @include bordered(blue,1px ); /*call mixin with two values */
    color: black;
    background-color: aqua;
}